/* For now using My Space 2 color palette */
@font-face {
  font-family: 'indie-flower';
  src: url('../public/Fonts/Indie_Flower/IndieFlower-Regular.ttf')
}

@font-face {
  font-family: 'kalam-regular';
  src: url('../public/Fonts/Kalam/Kalam-Regular.ttf')
}

@font-face {
  font-family: 'kalam-light';
  src: url('../public/Fonts/Kalam/Kalam-Light.ttf')
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


input,
textarea,
button,
select,
a,
i,
section {
  -webkit-tap-highlight-color: transparent;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --darkGreen: #18946F;
  --green: #4FE0B5;
  --lightGreen: #BAFDE9;
  --red: #942607;
  --lightPink: #DEA697;
}


.header {
  font-size: 1.825rem;
}

.rps-ratio {
  margin-top: 1rem;
  color: var(--darkGreen);
}

#home-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}

#signin-page-container {
  display: flex;
  margin-block-start: 1rem;
}

.feature-button {
  width: 90%;
  height: 4rem;
  margin: 0 auto;
  background-color: var(--darkGreen);
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  line-height: 3.2rem;
  border-radius: 5px;
}

.sticky-section {
  width: 100%;
  position: sticky;
  background-color: white;
  padding: 0.5rem;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.back-arrow {
  margin-inline-start: 0;
  color: var(--red);
  transition: transform 0.1s;
  cursor: pointer;
}

.back-arrow:hover {
  transform: scale(1.3);
}

.back-arrow:active {
  transform: scale(1.5);
}


.navbar-container {
  border-block-end: 2px solid var(--red);
  width: 100%;
}

.signin-link {
  float: right;
  margin: 0.5rem;
}



/*HOMEPAGE TIME-LOCATION CONTAINER*/

#time-location-homepage-container {
  display: flex;
  width: 90%;
  margin: auto;
}

.weather-homepage {
  width: 60%;
  gap: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.weather-homepage p:not(:nth-child(n+4)) {
  margin-block: 0;
}

.weather-homepage p:nth-child(2) {
  font-size: 1.5rem;
}

.weather-image {
  width: 7rem;
  height: 7rem;
}

.time-homepage {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.time-homepage p:nth-child(1) {
  margin-block: 0;
}


/*NOTES */
#notes-page-container {
  background-image: url('../public/corkboard.jpg');
  min-height: 100vh;
  max-height: 300vh;
}

.notes-form-container {
  background-image: url('../public/corkboard.jpg');
  position: relative;
  min-height: 100vh;
}

.notes-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  gap: 1.2rem; 
  margin: 0 auto;
  max-width: 90%;
  justify-content: center;
}

.notes-search-section {
  margin-block:1.5rem;
  grid-column: 1/-1
}

.notes-search-input {
  box-shadow: 10px 10px 10px 5px rgb(0, 0, 0, 0.4);
  border-radius: 2px;
  outline:none;
  font-size: 1.1rem;
  width: 65%;
}

.notes-search-input:focus {
  border:2px solid var(--darkGreen);
  outline: none;
  border-radius: 2px;
}

.single-note-container {
  height: 9rem;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
  padding-inline-start: 0.3rem;
  padding-inline-end: 0.3rem;
  box-shadow: 3px 4px 4px 4px rgb(0, 0, 0, 0.4);
  border-radius: 2px;
}

.notes-pin {
  margin-inline-start: 45%;
  margin-block-start: 0.5rem;
}

.note-header-list {
  margin-block: 0.5rem 0.3rem;
  font-family: 'kalam-regular';
}

.notes-text-small {
  font-size: 1.1rem;
  font-family: 'kalam-regular';
  white-space: pre-line;
  margin-block: 0;
}


dialog {
  opacity: 0;
  scale: 0;
  display: block;
  transition: all 0.25s;
}

dialog[open] {
  position: fixed;
  border: none;
  top: 7rem;
  opacity: 1;
  scale:1;
  width: 80%;
  overflow-y: auto;
  z-index: 9;
  padding: 1rem;
  font-size: 2rem;
  box-shadow: 10px 10px 10px 5px rgb(0, 0, 0, 0.7);
  max-height: 80%;
  border-radius: 2px;
}

.note-close-button {
  position: fixed;
  top: 0;
  z-index: 9;
  right: 0;
  padding: 0.2rem;
}

.note-to-be-removed {
  animation: move-left 300ms forwards;
}

@keyframes move-left {
  100% {
    transform: translate(-600%);
  }
}


.note-pencil {
  cursor: pointer;
  height: 2.1rem;
  margin-inline-start: 0;
}

.note-trash {
  cursor: pointer;
  margin-inline-end: 0;
}

.note-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 7rem;
  left: 2rem;
  right: 2rem;
  background-color: white;
  box-shadow: 3px 4px 4px 4px rgb(0, 0, 0, 0.4);
  border-radius: 3px;
}

.field {
  margin-block-end: 0.2rem;
}


.note-form input,
textarea {
  width: 100%;
  font-size: 1rem;
  border: 1px solid var(--lightPink);
  box-sizing: border-box;
}

.note-form input:focus,
.note-form textarea:focus {
  border: 2px solid var(--lightPink);
  outline: none;
}

.note-form textarea {
  resize:none;
  height: 17rem;
}

.loading-notification {
  margin-block-start: 2rem;
  text-align: center;
}

.notes-form-footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 2rem;
  right: 2rem;
  top: 33rem;
}

.note-form-button {
  width: 30%;
  font-size: 1rem;
  color: white;
  padding-block: 0.375rem;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 4px 4px 4px rgb(0, 0, 0, 0.4);
}

.note-submit-button {
  background-color: var(--darkGreen);
}

.note-submit-button:active {
  transform: scale(110%);
}

.note-cancel-button {
  background-color: var(--red);
}

.note-cancel-button:active {
  transform: scale(110%);
}

.delete-button {
  background-color: var(--red);
  color: white;
  border: none;
  cursor: pointer;
  padding-block: 0.375rem;
  padding-inline: 0.625rem;
  border-radius: 5px;
  font-size: 1rem;
}

#edit-note-container {
  background-image: url('../public/corkboard.jpg');
  min-height: 100vh;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 1rem;
}

.edit-link {
  display: flex;
  align-items: center;
  margin-inline-start: 0;
  text-decoration: none;
  color: black;
}

.notes-error-msg-container {
  font-size: 1rem;
  padding: 0.3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--red);
  color: white;
  box-shadow: 3px 4px 4px 4px rgb(0, 0, 0, 0.4);
  top: 3rem;
  left: 0;
  right: 0;
  width: 70%;
  border-radius: 3px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  backdrop-filter: blur(2px);
}

/* CALENDAR */

#calendar-container {}

/* IDEAS */

#ideas-page-container {
  margin: 1rem auto;
  width: 90%;
}

.single-idea {
  margin-block-end: 1.375rem;
  padding-block-end: 1.375rem;
  border-block-end: 1px solid var(--lightPink);
}

.single-idea button {
  width: 100%;
  font-size: 1rem;
  color: white;
  background-color: var(--darkGreen);
  padding-block: 0.375rem;
  margin-block-start: 0.375rem;
  padding-inline: 0.;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.generate-ideas-button {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  margin-block-end: 1.375rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--darkGreen);
  color: white;
  font-size: 1.375rem;
}

.idea-homepage-visible {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  color: var(--red);
  font-style: italic;
  font-weight: 600;
  text-indent: 10px;
  transition: 0.1s linear;
}


.idea-homepage-hidden {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  width: 90%;
  height: 0.5rem;
  color: white;
  font-style: italic;
  font-weight: 600;
  text-indent: 10px;
}


#ideas-header {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--red)
}

/*GAMES */

#games-page-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-link-button {
  text-align: center;
  display: block;
  margin: 2rem auto;
  width: 90%;
  height: 4rem;
  text-align: center;
  background-color: var(--darkGreen);
  color: white;
  font-size: 3rem;
  text-decoration: none;
}

#rps-game-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#games-header {
  text-align: center;
  margin-block-start: 1rem;
}

#games-header h1 {
  font-size: 2rem;
}

.rps-container {
  width: 100%;
  margin-block-start: 3rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.start-game-button {
  width: 80%;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.325rem;
  margin-block-start: 3rem;
  background-color: var(--darkGreen);
  color: white;
  border: none;
  border-radius: 5px;
  transition: transform 0.2s;
}

.start-game-button:hover {
  transform: scale(1.1, 1.2)
}

.start-game-button:active {
  transform: scale(1.1, 1.2)
}

.players {
  width: 80px;
  height: 80px;
  background-color: var(--red);
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 150px;
  line-height: 4.5rem;
}

.rps-choice-section-container {
  display: flex;
  align-content: space-between;
  margin-top: 2rem;
}

.choice-section {
  margin: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: var(--lightGreen);
  text-align: center;
  cursor: pointer;
  line-height: 3.4rem;
  transition: transform 0.2s;
}

.choice-section:hover {
  transform: scale(1.2);
}

.choice-section:active {
  transform: scale(1.4);
}

.result-article {
  margin-block-start: 2rem;
  margin-block-end: 1rem;
  display: flex;
  gap: 4rem;
  font-size: 3rem;
}

.result-article h1 {
  font-size: 3rem;
}

.game-result {
  margin: 1rem;
}

.game-result-header {
  font-size: 2rem;
  color: var(--red);
}

/*ShipsGame*/

.ships-header {
  grid-row: 1;
  grid-column: 1/3;
}

#ships-battle-area {
  display: grid;
  gap: 0.2rem;
  height: 38rem;
  grid-template-rows: 1.8rem 1.8rem auto;
  grid-template-columns: 1rem 400px auto;
}

.alphabet-container {
  display: flex;
  grid-row: 1;
  grid-column: 2/3;
}

.alphabet-ships-square {
  text-align: center;
  width: 25px;
  height: 25px;
  border: 1px solid grey;
}

#numbers-container {
  grid-row: 2/3;
  grid-column: 1
}

.numbers-square {
  text-align: center;
  width: 25px;
  height: 25px;
  border: 1px solid grey;
}

.square {
  width: 25px;
  height: 25px;
  border: 1px solid blue;
  cursor: pointer;
  background-color: inherit;
}

.square-hit {
  width: 25px;
  height: 25px;
  border: 1px solid blue;
  cursor: pointer;
  background-color: rgb(161, 185, 209);
}

.ship-hit {
  width: 25px;
  height: 25px;
  border: 1px solid blue;
  cursor: pointer;
  background-color: var(--red);
}

#battle-area {
  width: 375px;
  display: flex;
  flex-wrap: wrap;
  grid-row: 2/3;
  grid-column: 2/3;
  text-align: center;
  background-color: rgb(196, 229, 240);
}



#ships-header-container {
  display: flex;
  flex-direction: column;
  margin-block-end: 1rem;
}

.start-ships-game-button {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

#user-battle-field {
  width: 375px;
  display: flex;
  flex-wrap: wrap;
}








.grid-element-border {
  border: 1px solid black;
}

.grid-element1 {
  grid-column: 1;
  grid-row: 1;
  justify-content: right;
}

.grid-element2 {
  grid-column: 2;
  grid-row: 1;
}

.grid-element3 {
  grid-column: 3;
  grid-row: 1;
}

.grid-element4 {
  grid-column: 4;
  grid-row: 1;
}

/* WEATHER */
.location-search-input {
  border-radius: 3px;
  border: 1px solid rgb(193, 190, 190);
}

.no-locations-info {
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
  width: 90%;
  color: var(--red)
}

#weather-page-container {
  margin: 1rem auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

#places-autocomplete-section {
  margin-block-start: 2rem;
  width: 100%;
}

.autocomplete-dropdown-container {
  position: absolute;
  background-color: white;
}

.suggestion-item--active {
  background-color: var(--darkGreen);
  color: white;
  cursor: pointer;
}


.single-location {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-block-start: 1rem;
  border: 1px solid rgb(193, 190, 190);
  height: 2.5rem;
  transition: 0.2s linear;
  overflow: hidden;
  border-radius: 5px;
}

.detail-location {
  display: flex;
  flex-wrap: wrap;
  margin-block-start: 1rem;
  border: 1px solid rgb(193, 190, 190);
  height: 29rem;
  transition: 0.3s linear;
  overflow: hidden;
  border-radius: 5px;
}

.location-header {
  width: 80%;
  font-size: 1rem;
  font-weight: 500;
  margin-inline-start: 0.3rem;
  margin-block-start: 0.5rem;
}

.detail-location-data {
  padding-inline-start: 0.3rem;

}

.down-arrow-button {
  margin-inline-start: auto;
  margin-block-end: 0.5rem;
  color: var(--darkGreen);
  background-color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.searched-locations {
  width: 95%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid rgb(222, 222, 222);
  margin-block-start: 2rem;
}

.temperature-section {
  margin-inline-start: 0;
  font-size: 1rem;
}

.add-location-button {
  width: 35px;
  height: 35px;
  background-color: var(--darkGreen);
  border-radius: 50%;
  border: none;
  color: white;
}

.add-location-to-homepage {
  width: 100%;
  font-size: 1rem;
  color: white;
  background-color: var(--darkGreen);
  margin-block-start: 1rem;
  padding-block: 0.375rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.modal-visible {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
}

.modal-info {
  margin-top: 6rem;
  color: white;
  width: 90%;
}


/*CALENDAR */

#calendar-container {
  width: 100%;
}

.calendar-header-container {
  width: 95%;
}

/* ------------------*/
.date-paragraph {
  font-style: italic;
  font-size: 0.675rem;
  padding-block: 0.375rem;
  margin-inline-start: 0;
  margin-block: 1rem;
  font-weight: 500;
}


.notes-add-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 60px;
  height: 60px;
  background-color: var(--darkGreen);
  border-radius: 50%;
  border: none;
  color: white;
}

.label-standard {
  font-weight: bold;
}

.hidden {
  display: none;
}

@media screen {}