/* For now using My Space 2 color palette */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --darkGreen: #18946F;
  --green: #4FE0B5;
  --lightGreen: #BAFDE9;
  --red: #942607;
  --lightPink: #DEA697;
}



* {
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  font-size: 1.825rem;
}
.rps-ratio {
  margin-top: 1rem;
  color: var(--darkGreen);
}
#home-container {
  display: flex;
  flex-direction: column;
  gap:calc(2rem);
}

#signin-page-container {
  display: flex;
  margin-block-start: 1rem;
}

.feature-button {
  width: 90%;
  height: 4rem;
  background-color: var(--darkGreen);
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  line-height: 3.2rem;
  border-radius: 5px;
}

.sticky-section {
  width: 95%;
  position: sticky;
  background-color: white;
  padding: 0.5rem;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.back-arrow {
  margin-inline-start: 0;
  color: var(--red);
  transition: transform 0.1s;
  cursor: pointer;
}

.back-arrow:hover {
  transform: scale(1.3);
}

.back-arrow:active {
  transform: scale(1.5);
}


.navbar-container {
  border-block-end: 2px solid var(--red);
  width: 100%;
}

.signin-link {
  float: right;
  margin: 0.5rem;
}

#notes-page-container {
  width: 90%;
}

/*HOMEPAGE TIME-LOCATION CONTAINER*/
#time-location-container {
  width: 90%;
  display: flex;
}

.time-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0;
}

.time-container h2 {
  font-size: 1.7rem;
  margin-left: 0;
  font-weight: 400;
}

.time-container h4 {
  margin-left: 0;
}

.location-homepage-container  {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.location-homepage-container h4 {
  margin-right: 0;
}
.location-homepage-container h2 {
  font-size: 1.7rem;
  margin-right: 0;
  font-weight: 400;
}
.location-homepage-container p {
  margin-inline-end: 0;
  font-size: 0.9rem;
  font-weight: 600;
}





/*NOTE FORM */
.note-form {
  position: absolute;
  background-color: white;;
  top: 10%;
  width: 90%;
  right: 0;
  left: 0;
}

.note-form input,textarea {
  width: 100%;
  font-size: 1rem;
  border: 1px solid var(--lightPink);
}

.note-form textarea {
  height: 12rem;
}
.loading-notification {
  margin-block-start: 2rem;
  text-align: center;
}

.note-form button {
  width: 100%;
  font-size: 1rem;
  color: white;
  background-color: var(--darkGreen);
  padding-block: 0.375rem;
  padding-inline: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.delete-button {
  background-color: var(--red);
  color: white;
  border: none;
  cursor: pointer;
  padding-block: 0.375rem;
  padding-inline: 0.625rem;
  border-radius: 5px;
  margin-inline-end: 0;
  font-size: 1rem;
}

#edit-note-container {
  width: 90%;
}


.single-note-container {
  width: 100%;
  margin-block: 1rem;
  border-block-end: 1px solid var(--lightPink);
}
.single-note-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-block: 0.675rem;
}

.text {
  margin-block-start: 0.375rem;
  word-spacing: 2px;
  line-height: 1.3;
}

.edit-link {
  text-decoration: none;
  color: black;
}

/* IDEAS */

#ideas-page-container  {
  width: 90%;
  margin-block-start: 0.8rem;
}

.single-idea {
  margin-block-end: 1.375rem;
  padding-block-end: 1.375rem;
  border-block-end: 1px solid var(--lightPink);
}
.single-idea button {
  width: 100%;
  font-size: 1rem;
  color: white;
  background-color: var(--darkGreen);
  padding-block: 0.375rem;
  margin-block-start: 0.375rem;
  padding-inline: 0.;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.generate-ideas-button {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  margin-block-end: 1.375rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--darkGreen);
  color: white;
  font-size: 1.375rem;
}

.idea-homepage-visible {
  display: flex;
  flex-direction: column;
  width: 90%;
  color: var(--red);
  font-style: italic;
  font-weight: 600;
  text-indent: 10px;
  transition: 0.3s linear;
}

.idea-homepage-hidden {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 1rem;
  color: white;
  font-style: italic;
  font-weight: 600;
  text-indent: 10px;
  overflow: hidden;
}


#ideas-header {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--red)
}

/*GAMES */

#games-page-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game-link-button {
  text-align: center;
  display: block;
  margin: 2rem auto;
  width: 90%;
  height: 4rem;
  text-align: center;
  background-color: var(--darkGreen);
  color: white;
  font-size: 3rem;
  text-decoration: none;
}

#rps-game-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#games-header {
  text-align: center;
  margin-block-start: 1rem;
}
#games-header h1 {
  font-size: 2rem;
}
.rps-container {
  width: 100%;
  margin-block-start: 3rem;
  display: flex;
  gap: 4rem;
}

.start-game-button {
  width: 80%;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.325rem;
  margin-block-start: 3rem;
  background-color: var(--darkGreen);
  color: white;
  border:none;
  border-radius: 5px;
  transition: transform 0.2s;
}
.start-game-button:hover {
  transform: scale(1.1, 1.2)
}
.start-game-button:active {
  transform: scale(1.1, 1.2)
}

.players{
  width: 80px;
  height: 80px;
  background-color: var(--red);
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 150px;
  line-height: 4.5rem;
}

.rps-choice-section-container {
  display: flex;
  align-content: space-between ;
  margin-top: 2rem;
}

.choice-section {
  margin: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: var(--lightGreen);
  text-align: center;
  cursor: pointer;
  line-height: 3.4rem;
  transition: transform 0.2s;
}

.choice-section:hover {
  transform: scale(1.2);
}

.choice-section:active {
  transform: scale(1.4);
}

.result-article {
  margin-block-start: 2rem;
  margin-block-end: 1rem;
  display: flex;
  gap: 4rem;
  font-size: 3rem;
}

.result-article h1 {
  font-size: 3rem;
}

.game-result {
  margin: 1rem;
}

.game-result-header {
  font-size: 2rem;
  color: var(--red);
}

/*ShipsGame*/

#ships-game-area-container {
  display: flex;
}

.ships-header {
  grid-row: 1;
  grid-column: 1/3;
}

#ships-computer-area {
  display: grid;
  gap: 0.2rem;
  grid-template-rows: 1.8rem 1.8rem auto;
  grid-template-columns: 1rem 400px auto
}
.alphabet-container {
  display: flex;
  grid-row: 1;
  grid-column: 2/3;
}
.alphabet-ships-square {
  text-align: center;
  width: 25px;
  height: 25px;
  border: 1px solid grey;
}

#numbers-container {
  grid-row: 2/3;
  grid-column: 1
}

.numbers-square {
  text-align: center;
  width: 25px;
  height: 25px;
  border: 1px solid grey;
}

.square {
  width: 25px;
  height: 25px;
  border: 1px solid blue;
  cursor: pointer;
  background-color: inherit;
}
.square-hit {
  width: 25px;
  height: 25px;
  border: 1px solid blue;
  cursor: pointer;
  background-color:rgb(161, 185, 209);
}
.ship-hit {
  width: 25px;
    height: 25px;
    border: 1px solid blue;
    cursor: pointer;
    background-color: var(--red);
}

#game-area {
  width: 375px;
  display: flex;
  flex-wrap: wrap;
  grid-row: 2/3;
  grid-column: 2/3;
  text-align: center;
  background-color: rgb(196, 229, 240);
}

#ships-header {
  display: flex;
  flex-direction: column;
}
.start-ships-game-button {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}










.grid-element-border {
  border: 1px solid black;
}

.grid-element1 {
  grid-column: 1;
  grid-row: 1;
  justify-content: right;
}

.grid-element2 {
  grid-column: 2;
  grid-row: 1;
}

.grid-element3 {
  grid-column: 3;
  grid-row: 1;
}

.grid-element4 {
  grid-column: 4;
  grid-row: 1;
}

/* WEATHER */
.location-search-input {
  border-radius: 3px;
  border: 1px solid rgb(193,190,190);
}

.no-locations-info {
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
  width: 90%;
  color: var(--red)
}

#weather-page-container {
  margin-block-start: 1.625rem;
  width: 90%;
  display: flex;
  flex-direction: column;
}

#places-autocomplete-section {
  margin-block-start: 2rem;
  width: 100%;
}
.autocomplete-dropdown-container {
  position: absolute;
  background-color: white;
}

.suggestion-item--active {
    background-color: var(--darkGreen);
    color: white;
    cursor: pointer;
}
#locations-fromDB-container {
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}

.single-location {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 90%;
  border: 1px solid rgb(193, 190, 190);
  height: 2.5rem;
  margin-block-end: 1rem;
  transition: 0.2s linear;
  padding: 0.5rem;
  overflow: hidden;
  border-radius: 5px;
}

.detail-location {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 90%;
  border: 1px solid rgb(193, 190, 190);
  height: 23rem;
  transition: 0.3s linear;
  margin-block-end: 1rem;
  padding: 0.5rem;
  overflow: hidden;
  border-radius: 5px;
}

.location-header {
  width: 80%;
  font-size: 1rem;
  font-weight: 500;
  margin-inline-start: 0.3rem;
}
.detail-location-data {
  width: 100%;
  margin-block-end: 0.8rem;
}

.detail-location-data * {
  margin: 0.5rem;
}

.down-arrow-button {
  margin-inline-end: 0.3rem;
  height: 1.4rem;
  color: var(--darkGreen);
  background-color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.searched-locations {
  width: 90%;
  display: flex;
  align-items: baseline;
  padding: 0.5rem;
  border: 1px solid rgb(222, 222,222);
  margin-block-start: 0.5rem;
}

.temperature-section {
  margin-inline-start: 0;
  font-size: 1rem;
}

.add-location-button {
  width: 35px;
  height: 35px;
  background-color: var(--darkGreen);
  margin-inline-end: 0.5rem;
  border-radius: 50%;
  border: none;
  color: white;
}

.add-location-to-homepage {
  width: 100%;
  font-size: 1rem;
  color: white;
  background-color: var(--darkGreen);
  padding-block: 0.375rem;
  margin-inline: 0.3rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.modal-visible {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
}

.modal-info {
  margin-top: 6rem;
  color: white;
  width: 90%;
}


/*CALENDAR */

#calendar-container {
  width: 100%;
}

.calendar-header-container {
  width: 95%;
}

/* ------------------*/
.date-paragraph {
  font-style: italic;
  font-size: 0.675rem;
  padding-block: 0.375rem;
  margin-inline-start: 0;
  font-weight: 500;
}


.plus-button {
  width:50px;
  height: 50px;
  margin-inline-end: 0;
  background-color: var(--darkGreen);
  border-radius: 50%;
  border: none;
  color: white;
}

.label-standard {
  display: block;
  font-weight: bold;
}
.field {
  margin-block-end: 1rem;
}

.hidden {
  display: none;
}

@media screen {

}
